:root {
  --color-background: wheat;
  --color-akcent:aquamarine;
  --color-nav-background: #333333;
  --color-header-text: lightblue;
}

/* Reset podstawowy */
* {  /* * oznacza że stosuję się do wszystkiego*/
    margin: 0;
    padding: 0;
}

/* Ustawienia ogólne strony */
body { /*główny element w którym są wszystkie tagi*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  /*czcionka*/
    background-color: var(--color-background);  /*kolor tła*/
    color: black;  /*kolor tekstu*/
    display: flex;   /*żeby nie było wyświetlania blokowego, pozwala nam to np wrzucić dwa tagi na tą samą wysokość*/
    flex-direction: column;  /*układamy flexa z linijki wyżej na kolumne, czyli układają nam się tagi w kolumne zamiast od lewej do prawej*/
    align-items: center;  /*Wszystko co jest w środku ustawiamy w centrum*/
    min-height: 100vh;  /*minimalna wysokość to 100% wysokości okienka w którym wyświetlamy*/
}

h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: clamp(3rem, 4vw, 5rem);
}

.big{
    font-size: clamp(3rem, 4vw, 5rem);
}

footer {
    margin-top: auto; /* "wypycha" footer na dół */
    width: 100%;
    background-color: var(--color-nav-background);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.banner-box{
  position: relative;
  display: block;
  max-width: 1920px;
  margin: 0 auto;  
}

.banner-box img{
  width: 100%;
  height: auto;
}

.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centruje dokładnie w pionie i poziomie */
  color: white;
  font-size: 2.5rem;
  text-align: center;
} 

.main {
    display: flex;
    flex-direction: column; /* ustawia elementy (divy .city) jeden pod drugim */
    gap: 40px; /* odstęp między nimi - możesz zmienić np. na 20px */
    align-items: center; /* opcjonalnie: wyśrodkowanie w poziomie */
    width: 100%; /* żeby sekcja zajmowała całą szerokość */
    margin-top: 20px; /* odstęp sekcji od nagłówków powyżej */
}

.card{
    width: 70%; 
    background-color: var(--color-header-text);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.card .photos {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;               /* układ w jednym rzędzie */
    justify-content: center;     /* wyśrodkowanie zdjęć */
    gap: 20px;                   /* odstęp między nimi */
    flex-wrap: wrap;             /* pozwala przełamywać się w kolejnym rzędzie na mniejszych ekranach */
}

.card .photos img {
    width: 30%;                  /* każde zdjęcie zajmuje ok. 1/3 szerokości kontenera */
    border-radius: 8px;
    object-fit: cover;
}

/* Side menu*/
.sidebar {
  position: fixed;        /* Kluczowe! */
  top: 100px;
  left: 2%;
  width: 10%;
  height: 50%;           /* pełna wysokość okna */
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 5%;
}

.sidebar ul li {  
  border-bottom: 1px solid #b9b9b9;   /* widoczna linia pod każdym elementem */
  padding-bottom: 0.5rem;             /* żeby tekst nie „przyklejał się” do linii */
}

.sidebar ul li:last-child {
  border-bottom: none;
  padding-bottom: none;
}

.sidebar h3 {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}

/* Menu */
nav ul {
    list-style-type: none;
    display: flex;
    background-color: var(--color-nav-background);
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    transition: background 0.3s;
}

nav ul li a:hover {
    color: aquamarine;
}

nav ul li a.active{
    color: rgb(43, 132, 102);
}

header {
    display: flex;
    background-color: var(--color-nav-background);
    width: 100%;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

header h1{
    color: var(--color-header-text);
}

header img{
    width: 50px;     
    height: 50px;     
    border-radius: 8px; 
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.menu-checkbox {
  display: none;
}

/* Ikona hamburgera (domyślnie ukryta) */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


@media (max-width: 700px) {
 .menu-icon {
    display: block;
  }

  /* ukryj menu w poziomie */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
    text-align: center;
  }

  .menu-checkbox:checked ~ .nav-links {
    display: flex;
  }

  /* dopasowanie wyglądu linków */
  .nav-links li a {
    border-top: 1px solid #444;
    padding: 16px;
  }

  .card{
    width: 85%;
  }

  .logo img{
    display: none;
  }

}

@media (min-width: 1920px){
  .card{
    width: 50%;
  }

}