/* Reset podstawowy */
* {  /* * oznacza że stosuję się do wszystkiego*/
    margin: 0;
    padding: 0;
}

/* Ustawienia ogólne strony */
body { /*główny element w którym są wszystkie tagi*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  /*czcionka*/
    background-color: #89e2e5;  /*kolor tła*/
    color: black;  /*kolor tekstu*/
    display: flex;   /*żeby nie było wyświetlania blokowego, pozwala nam to np wrzucić dwa tagi na tą samą wysokość*/
    flex-direction: column;  /*układamy flexa z linijki wyżej na kolumne, czyli układają nam się tagi w kolumne zamiast od lewej do prawej*/
    align-items: center;  /*Wszystko co jest w środku ustawiamy w centrum*/
    min-height: 100vh;  /*minimalna wysokość to 100% wysokości okienka w którym wyświetlamy*/
    gap: 40px; /* odstęp między nimi - możesz zmienić np. na 20px */
}

h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: clamp(3rem, 4vw, 5rem);
}

.big{
    font-size: clamp(3rem, 4vw, 5rem);
}

footer {
    margin-top: auto; /* "wypycha" footer na dół */
    width: 100%;
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.main {
    display: flex;
    flex-direction: column; /* ustawia elementy (divy .city) jeden pod drugim */
    gap: 40px; /* odstęp między nimi - możesz zmienić np. na 20px */
    align-items: center; /* opcjonalnie: wyśrodkowanie w poziomie */
    width: 100%; /* żeby sekcja zajmowała całą szerokość */
    margin-top: 20px; /* odstęp sekcji od nagłówków powyżej */
}

.city{
    width: 60%; /* żeby sekcja zajmowała całą szerokość */
    background-color: rgb(227, 188, 105);
    border-radius: 12px;
    padding: 30px;
}

.city .photos {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;               /* układ w jednym rzędzie */
    justify-content: center;     /* wyśrodkowanie zdjęć */
    gap: 20px;                   /* odstęp między nimi */
    flex-wrap: wrap;             /* pozwala przełamywać się w kolejnym rzędzie na mniejszych ekranach */
}

.city .photos img {
    width: 30%;                  /* każde zdjęcie zajmuje ok. 1/3 szerokości kontenera */
    border-radius: 8px;
    object-fit: cover;
}

/* Side menu*/
.sidebar {
  position: fixed;        /* Kluczowe! */
  top: 100px;
  left: 2%;
  width: 10%;
  height: 50%;           /* pełna wysokość okna */
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 5%;
}

.sidebar ul li {  
  border-bottom: 1px solid #b9b9b9;   /* widoczna linia pod każdym elementem */
  padding-bottom: 0.5rem;             /* żeby tekst nie „przyklejał się” do linii */
}

.sidebar ul li:last-child {
  border-bottom: none;
  padding-bottom: none;
}

.sidebar h3 {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid #555;
  padding-bottom: 10px;
}

/* Menu */
nav ul {
    list-style-type: none;
    display: flex;
    background-color: #333333;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    transition: background 0.3s;
}

nav ul li a:hover {
    color: aquamarine;
}

nav ul li a.active{
    color: rgb(43, 132, 102);
}

header {
    display: flex;
    background-color: #333333;
    width: 100%;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 50px;

}

header h1{
    color: wheat;
    margin-left: 2rem;
}


.menu-checkbox {
  display: none;
}

/* Ikona hamburgera (domyślnie ukryta) */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}


/* Grid layout, container g.html */
.g_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.g_main nav ul{
    list-style-type: none;
    display: flex;
    background-color: #333333;
    flex-direction: column;
}

.g_main .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: dodgerblue;
    padding: 10px;
    width: 85%;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-left: 15%;
}

.img-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.img-wrapper:hover img {
    transform: scale(1.1);
}



.overlay {
            position: absolute; /* overlay doesn't take space in the document flow, it's positioned relative to the nearest positioned ancestor (img-wrapper) */
            /* fill the entire img-wrapper from top-left to bottom-right */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.6); /* black background with 60% opacity */
            color: #fff; /* white text color */
            /* center the text inside the overlay using flexbox */
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0; /* initially invisible */
            transition: opacity 0.3s ease; /* opacity property animation should take 0.3s and be slower at the beginning and end */
            text-align: center;
            padding: 10px; /* padding inside overlay */
            font-size: clamp(2rem, 3vw, 4rem);
            text-decoration: none;
        }

/* Show overlay on hover -> transition to opacity: 1 */
.img-wrapper:hover .overlay {
    opacity: 1;
}


@media (min-width: 2000px) {
  .g_main .container{
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
 .menu-icon {
    display: block;
  }

  /* ukryj menu w poziomie */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
    text-align: center;
  }

  .menu-checkbox:checked ~ .nav-links {
    display: flex;
  }

  /* dopasowanie wyglądu linków */
  .nav-links li a {
    border-top: 1px solid #444;
    padding: 16px;
  }

  .city{
    width: 85%;
  }

  .g_main .container{
        grid-template-columns: repeat(2, 1fr);
  }

}

