:root {
  --color-background: wheat;
  --color-akcent:aquamarine;
  --color-nav-background: #333333;
  --color-header-text: lightblue;
}

/* Reset podstawowy */
* {  /* * oznacza że stosuję się do wszystkiego*/
    margin: 0;
    padding: 0;
}

/* Ustawienia ogólne strony */
body { /*główny element w którym są wszystkie tagi*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  /*czcionka*/
    background-color: var(--color-background);  /*kolor tła*/
    color: black;  /*kolor tekstu*/
    display: flex;   /*żeby nie było wyświetlania blokowego, pozwala nam to np wrzucić dwa tagi na tą samą wysokość*/
    flex-direction: column;  /*układamy flexa z linijki wyżej na kolumne, czyli układają nam się tagi w kolumne zamiast od lewej do prawej*/
    align-items: center;  /*Wszystko co jest w środku ustawiamy w centrum*/
    min-height: 100vh;  /*minimalna wysokość to 100% wysokości okienka w którym wyświetlamy*/
}

h2 {
    font-family: 'Brush Script MT', cursive;
    font-size: clamp(3rem, 4vw, 5rem);
}

.big{
    font-size: clamp(3rem, 4vw, 5rem);
}

footer {
    margin-top: auto; /* "wypycha" footer na dół */
    width: 100%;
    background-color: var(--color-nav-background);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.banner-box{
  position: relative;
  display: block;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;  
}

.banner-box img{
  width: 100%;
  display: block;
  height: auto;
}

.banner-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centruje dokładnie w pionie i poziomie */
  color: white;
  font-size: 3rem;
  text-align: center;
}


.main {
    display: flex;
    flex-direction: column; /* ustawia elementy (divy .city) jeden pod drugim */
    gap: 40px; /* odstęp między nimi - możesz zmienić np. na 20px */
    align-items: center; /* opcjonalnie: wyśrodkowanie w poziomie */
    width: 100%; /* żeby sekcja zajmowała całą szerokość */
    margin: 20px 20px 0px 0px; /* odstęp sekcji od nagłówków powyżej */
}

.card{
    width: 70%; 
    background-color: var(--color-header-text);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.card .photos {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;               
    justify-content: center;    
    gap: 20px;                   
    flex-wrap: wrap;             
}

.card .photos img {
    width: 30%;                 
    border-radius: 8px;
    object-fit: cover;
}

#date-info{
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 5px;
  align-items: center;
  margin: 20px 20px 0px 0px;
  gap: 20px;
}

/*link jak przycisk*/

#date-info a:link, a:visited {
  background-color: var(--color-nav-background);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#date-info a:hover, a:active{
  background-color: #555;
}

/* Menu */
nav ul {
    list-style-type: none;
    display: flex;
    background-color: var(--color-nav-background);
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    transition: background 0.3s;
}

nav ul li a:hover {
    color: aquamarine;
}

nav ul li a.active{
    color: rgb(43, 132, 102);
}

header {
    display: flex;
    background-color: var(--color-nav-background);
    width: 100%;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

header h1{
    color: var(--color-header-text);
}

header img{
    width: 50px;     
    height: 50px;     
    border-radius: 8px; 
}

.logo {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.menu-checkbox {
  display: none;
}

/* Ikona hamburgera (domyślnie ukryta) */
.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

/*OST.html grid layout*/

.grid-container{
  max-width: 2300px;
  display: grid;
  grid-template-rows: auto 1fr 2fr;
  grid-auto-columns: 200px;
  grid-template-areas: "m m m"
  "ifacts ititle ititle"
  "ifacts itext1 itext2"

  "gif program program" 

  "htitle htitle hfacts"
  "htext1 htext2 hfacts";

  grid-template-columns: 1fr 2fr 2fr;
  width: 100%;
  gap: 1rem;
}
.row1 {
  grid-template-areas: "nav minfo minfo";
  grid-auto-rows: min-content;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  gap: 0; /* brak przerw */
}

.grid-container .item{
  padding: 1rem;
  place-items: center;
  border-radius: 10px;
}

.grid-container .bluegrey-card{
  background-color: rgb(216, 182, 118);

}

.grid-container .long-card{
  background-color: var(--color-header-text);
}

.grid-container .long-text{
  background-color:rgb(159, 132, 83);
}

.grid-container .menu{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #222;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.grid-container .menu a{
  text-decoration: none;
  color: var(--color-background);
  font-size: 1.4rem;
}

.grid-container .menu a:hover{
  text-decoration: none;
  color: var(--color-akcent);
}

#long-gif{
  max-width: 300px;
  display: block;
}

@media (max-width: 700px) {
 .menu-icon {
    display: block;
  }

  /* ukryj menu w poziomie */
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333333;
    text-align: center;
  }

  .menu-checkbox:checked ~ .nav-links {
    display: flex;
  }

  /* dopasowanie wyglądu linków */
  .nav-links li a {
    border-top: 1px solid #444;
    padding: 16px;
  }

  .card{
    width: 85%;
  }

  .logo img{
    display: none;
  }

  .banner-text{
    font-size: 2rem;
  }

  /*OST.html*/
  .row1 {
    grid-template-areas: "minfo"
    "nav";
    display: grid;
    grid-template-columns: 1fr;
    gap: 0; /* brak przerw */
  }

  .grid-container .menu{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .grid-container .menu a{
    font-size: 1rem;
  }

  .grid-container{
      grid-template-areas: "m m m"
      "ititle ititle ititle"
      "ifacts ifacts ifacts"
      "itext1 itext1 itext2"

      "program program program" 

      "htitle htitle htitle"
      "hfacts hfacts hfacts"
      "htext1 htext1 htext2";
  }

  #long-gif{
    display: none;
  }

}

@media (min-width: 1920px){
  .card{
    width: 50%;
  }

}